
@{
    ViewBag.Title = "Greska";
}
<head>
    <style>

        div {
            border:1px solid cornflowerblue;
            margin: 0 auto;
            width:50%;
            background-color:indianred;
        }
        h1{
            text-align:center;
            color:white;
            margin:10px 10px 10px 10px;
        }

    </style>

</head>

<div>
<h2>Greska!</h2>
<h1>@ViewBag.Message</h1>
</div>

<a href="~/Home/Index">HOME</a>