@{ 
    ViewBag.Title = "LogIn";
}
<head>
    <style>
        * {
            box-sizing: border-box
        }

        .container {
            padding: 16px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        hr {
            border: 1px solid black;
            margin-bottom: 25px;
        }

        .loginbtn {
            background-color: #009879;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .loginbtn:hover {
            opacity: 1;
        }

        a {
            color: dodgerblue;
        }

        .reg {
            background-color: #f1f1f1;
            text-align: center;
        }

    </style>
</head>

<form action="~/Authentication/Loginovan">
    <div class="container">

        <h1 style="text-align:center">LogIn</h1>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Unesite Username" name="username" id="username" required>

        <label for="lozinka"><b>Sifra</b></label>
        <input type="password" placeholder="Unesite Sifru" name="lozinka" id="lozinka" required>

        <hr>

        <button type="submit" class="loginbtn">LOG IN</button>
    </div>

    <div class="container reg">
        <p>Niste registrovani? <a href="~/Home/Registracija">Register</a>.</p>
    </div>
</form>