
@{
    ViewBag.Title = "GreskaPrijaveNaTrening";
}
<head>
    <style>
        div {
            background-color : red;
            margin : 0 auto;
            width : 50%;
            }

    </style>

</head>

<div>
<h1 style="text-align:center;color:white;font-size:30px">@ViewBag.Message</h1>
</div>
